.card {
  width: 280px;
  height: 400px;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: var(--grey);
  font-size: 1.2rem;
}

.movie-card {
  width: 280px;
}

.card-content {
  padding: 0.5rem;
}

.card-content p {
  margin: 0;
}

.card-content .movie-title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5rem;
  width: 80%;
}

.image-section {
  width: 280px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100%;
}

.image-found {
  overflow: hidden;
}

.image-found img:hover {
  transform: scale(1.1);
}

.card-heading-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-overview {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 1rem !important;
}

.movie-rating {
  color: var(--light-gray);
}

.not-available {
  color: var(--disabled);
}

@media only screen and (max-width: 550px) {
  .card {
    width: 100%;
  }

  .movie-card {
    width: 100%;
  }
}
