.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0rem;
  gap: 1rem;
  column-gap: 1.5rem;
}

.movie-card-shimmer {
  width: 280px;
  height: 385px;
  display: inline-block;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-content-shimmer {
  padding: 0.5rem;
}

.card-content-shimmer p {
  margin: 0;
  background-color: var(--disabled);
  width: 100%;
  height: 1rem;
}

.card-content-shimmer .title-shimmer {
  width: 75%;
}

.card-content-shimmer .rating-shimmer {
  width: 20%;
}

.image-section-shimmer {
  width: 100%;
  height: 320px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(60deg, var(--disabled) 0%, #ebebeb 100%);
}

.image-section-shimmer img {
  width: 15%;
  animation: rotation infinite 2s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card-heading-rating-shimmer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.overview-shimmer {
  width: 100%;
  background-color: var(--disabled);
  margin-top: 0.4rem !important;
}

@media only screen and (max-width: 550px) {
  .movie-card-shimmer {
    width: 100%;
    height: 100%;
  }

  .movie-list-container {
    flex-direction: column;
    column-gap: 1.5rem;
    width: 100%;
  }
}
