.container {
  margin: 1rem;
}

@media only screen and (max-width: 550px) {
  .container {
    margin: 0.5rem;
  }
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: fit-content;
}

.nav-link {
  color: inherit;
  text-decoration: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
  text-transform: capitalize;
}
